
* {
  font-size: 80px;
  color: #000;
}

html,
body {
  margin: 0;
  padding: 0;
  background: #e3e3ec;
  width: 100%;
}

#app {
  width: 100%;
  padding: 0.2rem 0 1.3rem;
  box-sizing: border-box;
  position: relative;
}

a {
  text-decoration: none;
}

p,
span {
  margin: 0;
  padding: 0;
  line-height: .3rem;
  word-break: break-word;
  color: #333333;
  font-size: inherit;
}

.bold{
  font-weight: bold !important;
}

.high{
  font-weight: bold !important;
  color:#333333 !important;
}

.keyword{
  color : #44546a !important;
  font-weight: bold !important;
}

.hr{
  width: 100%;
  height: 0;
  border-bottom: 0.02rem solid gray;
  margin: 0.15rem auto;
  opacity: 0.5;
}

/*滚动条的宽度*/
&::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/*滚动条里面小方块*/
&::-webkit-scrollbar-thumb {
  box-shadow: none;
  background: #b5b5b5;
  box-sizing: border-box;
  border-radius: 10px;
}

/*滚动条里面轨道*/
&::-webkit-scrollbar-track {
  box-shadow: none;
  background: transparent;
  border-radius: 10px;
}